html,
body {
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    padding: 0;
    margin: 0;
}

.bodylogin {
    background-color: rgba(0, 0, 0, 0.70);
    height: 100%;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    background-position: 0, -100px;
}

.bodypolos {
    background-image: unset;
}

nav.home {
    width: 100px;
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}

li.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

#toggler {
    color: black;
}

nav.home li.nav-item .nav-link {
    border-radius: 10px;
    color: white;
    font-size: 20px;
    transition: 0.8s;
}

nav.home li.nav-item .nav-link:hover {
    text-shadow: 0px 0px 5px cornflowerblue;
    color: cornflowerblue;
}

nav.home li.nav-item .nav-link:active {
    text-shadow: 0px 0px 10px red;
}

li a i {
    margin-left: 3px;
}
nav img {
    height: 0px;
}

.navbar-badge {
    width: 12px;
    height: 12px;
    font-size: 10px;
}

nav a.navbar-brand {
    margin-left: 0px;
}

ul.navbar-nav {
    margin-right: 0px;
}

.gambarfullhome {
    height: 100%;
    width: 100%;

    background-image: url("../assets/gambar/gambarhome.jpg");
    z-index: -1;
    background-size: cover;
}


.tekshome {

    width: 40%;
    height: 300px;
    z-index: 2;
}

.judulhome {
    font-size: 60px;
    font-weight: 800;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.isihome {
    font-size: 25px;
    font-weight: 300;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.btn-depan {
    margin-top: 50px;
    background-color: cornflowerblue;
    box-shadow: 0px 0px 10px black;
    color: white;
}

.btn-depan:hover {
    background-color: white;
    box-shadow: 0px 0px 10px cornflowerblue;
    color: cornflowerblue;
}

.anJudul,
.anIsi,
.anBtn {
    opacity: 0;
    transform: translate(0, 100px);
    z-index: 1;
}

.anJudul {
    transition: 3s;
}

.anIsi {
    transition: 2s;
}

.anBtn {
    transition: 1s;
}

.anJudul.jmuncul,
.anIsi.jmuncul,
.anBtn.jmuncul {
    opacity: 1;
    transform: translate(0, 0);
}

.produkkami {
    background-color: rgba(255, 255, 255, 0.85);
    padding-top: 30px;
    padding-bottom: 30px;
}
.newproduk {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("../assets/gambar/bgslide.jpg");
    background-size: cover;
    min-height: 400px;
    padding-top: 160px;
}

.modalproduk {
    background-image: url("../assets/gambar/bgmodal.jpg");
    background-size: auto;
    background-position: -100px -50px;
    border-radius: 10px;
}

.panelmodal {
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gambarnew {
    height: 20vw;
    object-fit: cover;
    border-radius: 5px;
}

.inputjumlah {
    text-align: center;
    width: 50px;
    display: inline-block;
    border-radius: 0;
    box-shadow: 3px 3px 5px grey;
}

.tombolpesan {
    margin-top: 40px;
}

.input-plus {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-min {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.judulsection {
    width: 300px;
}

.colnya {
    padding: 5px;
}

/* Kartu produk */
.kartuproduk {
    height: 250px;
    overflow: hidden;
}

.kartuproduk img {
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.kartuproduk .namaproduk {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}

.kartuproduk .hargaproduk {
    overflow: hidden;
    color: rgb(45, 43, 185);
    font-weight: 700;
}

.footer {
    line-height: 200px;
    text-align: center;
    width: 100%;
    height: 200px;
    color: white;
    background-color: rgba(34, 34, 34, 0.85);
}

/* Modal Produk */
.modalprodukdialog {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}
.modalprodukbody {
    background-color: rgba(0, 0, 0, 0);
}

/* Utility */
.btn-danger {
    background-color: red;
}

.sidebar-dark-primary {
    background-color: #1a237e;
}

.tombolcarousel {
    width: 5%;
}

/* baju */
.baju {
    background-color: rgba(240, 240, 240, 1);
}

/* tabelkeranjang */
.tabelkeranjang {
    padding-top: 140px;
}

.rekening {
    background-color: rgba(255, 255, 255, 0.7);
}

.control-sidebar{
    right: -500px;
    width: 500px;
    z-index: 99;
    top: 0;
    bottom: 0;
}
.control-sidebar:before{
    right: -500px;
    width: 500px;

}

.headermenu{
    background-image: url("../assets/gambar/headermenu.jpg");
    background-size: cover;
    background-position-y: -200px;
    height: 300px;
    position: absolute;
    width: 100%;
}

.menumakanan{
    margin-top: 270px;
    background-color: white;
}
